
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Alphabet Information3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Content of the alphabet information page -->
  <!-- Card 1 -->
<ion-card>
  <iframe width="100%" height="315" src="https://youtu.be/Bl1FOKpFY2Q" frameborder="0" allowfullscreen></iframe>
  <ion-card-content>
    <ion-card-title>Title 1</ion-card-title>
    <p>Description 1</p>
  </ion-card-content>
</ion-card>

<!-- Card 2 -->
<ion-card>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
  <ion-card-content>
    <ion-card-title>Title 2</ion-card-title>
    <p>Description 2</p>
  </ion-card-content>
</ion-card>

<!-- Card 3 -->
<ion-card>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
  <ion-card-content>
    <ion-card-title>Title 3</ion-card-title>
    <p>Description 3</p>
  </ion-card-content>
</ion-card>

</ion-content>
