<ion-content [fullscreen]="true">
  <ion-card-content class="video-card">
    <iframe class="video-iframe" src="https://www.youtube.com/embed/hq3yfQnllfQ"></iframe>
    <ion-card-subtitle class="video-subtitle">Learn Alphabets</ion-card-subtitle>
  </ion-card-content>

  <ion-card-content class="video-card">
    <iframe class="video-iframe" src="https://www.youtube.com/embed/D0Ajq682yrA"
      title="Number song 1-20 for children | Counting numbers | The Singing Walrus"></iframe>
    <ion-card-subtitle class="video-subtitle">Learn Numbers</ion-card-subtitle>
  </ion-card-content>

  <ion-card-content class="video-card">
    <iframe class="video-iframe" src="https://www.youtube.com/embed/Zu6o23Pu0Do"
      title="Rain, Rain, Go Away Nursery Rhyme With Lyrics - Cartoon Animation Rhymes &amp; Songs for Children"></iframe>
    <ion-card-subtitle class="video-subtitle">Learn Poems</ion-card-subtitle>
  </ion-card-content>
</ion-content>
